body {
    background-color: black;
    color: white;
}

.home-page-heading {
    font-family: 'Courier New', Courier, monospace;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.recipe-heading {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.desc-h, .ingredients, .steps {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ingredients-heading, .steps-heading {
    font-style: italic;
}

.desc-p {
    font-family: Arial, Helvetica, sans-serif;
}

.ingredients-ul, ol {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

ol {
    color: green;
}